In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [7]:
indata = pd.read_csv('historicalDataMini.csv', index_col = 0)
indata['species_'] = indata['species']
indata['species'] = indata['species'].str[7:]
indata['location_'] = indata['location']
data = pd.get_dummies(indata, columns = ['species', 'location'], dtype= 'int64')

In [8]:
data['date'] = pd.to_datetime(data['date'])

In [9]:
data['year'] = pd.DatetimeIndex(data['date']).year
data['month'] = pd.DatetimeIndex(data['date']).month
data['day'] = pd.DatetimeIndex(data['date']).day

In [10]:
data.to_csv('API/historicalDataTrain.csv', index=False)

In [12]:
data = pd.read_csv('API/historicalDataTrain.csv')

In [13]:
X = data[['year', 'month', 'day', 'time', 'species_1', 'species_10', 'species_11', 'species_12', 'species_13',
       'species_2', 'species_3', 'species_4', 'species_5', 'species_6',
       'species_7', 'species_8', 'species_9',
       'location_AB1', 'location_AB2', 'location_AB3', 'location_C1',
       'location_C2', 'location_C3', 'location_E', 'location_H1',
       'location_H2', 'location_H3', 'location_H4', 'location_H5',
       'location_H6', 'location_MBA']]
y = data['catch']

In [14]:
from sklearn.neural_network import MLPRegressor

In [15]:
clf = MLPRegressor(random_state=1, max_iter=300)

In [16]:
clf.fit(X, y)

MLPRegressor(max_iter=300, random_state=1)

In [23]:
from joblib import dump, load

dump(clf, 'final/MLPreg.joblib')

['final/MLPreg.joblib']

In [17]:
species = ['species_1', 'species_10', 'species_11', 'species_12', 'species_13',
       'species_2', 'species_3', 'species_4', 'species_5', 'species_6',
       'species_7', 'species_8', 'species_9']

locations = ['location_AB1', 'location_AB2', 'location_AB3', 'location_C1',
       'location_C2', 'location_C3', 'location_E', 'location_H1',
       'location_H2', 'location_H3', 'location_H4', 'location_H5',
       'location_H6', 'location_MBA']

In [18]:
dictVals = {
    'year' : 2022, 'month': 2, 'day': 14, 'time': 1, 'species_1': 0,
       'species_10': 0, 'species_11': 0, 'species_12': 0,
       'species_13': 0, 'species_2': 0, 'species_3': 0,
       'species_4': 0, 'species_5': 0, 'species_6': 0,
       'species_7': 0, 'species_8': 0, 'species_9': 0,
       'location_AB1': 0, 'location_AB2': 0, 'location_AB3': 0, 'location_C1': 0,
       'location_C2': 0, 'location_C3': 0, 'location_E': 0, 'location_H1': 0,
       'location_H2': 0, 'location_H3': 0, 'location_H4': 0, 'location_H5': 0,
       'location_H6': 0, 'location_MBA': 0
}

In [21]:
output = pd.DataFrame(columns=['loc', 'species', 'catch'])

for spec in species:
    for loc in locations:
        k = dictVals.copy()

        k[loc] = 1
        k[spec] = 1

        l = pd.DataFrame(k, index = [0])
        
        output.loc[len(output)] = [loc, spec, clf.predict(l)[0]]

output['catch'] = output['catch'].astype(int)

In [22]:
output.sort_values(by = 'catch', ascending = False)

              loc     species  catch
78    location_H2   species_2    376
72   location_AB3   species_2    374
70   location_AB1   species_2    358
77    location_H1   species_2    352
71   location_AB2   species_2    345
..            ...         ...    ...
101   location_C1   species_4    -24
52    location_H4  species_12    -27
178   location_H4   species_9    -27
136   location_H4   species_6    -31
108   location_H4   species_4    -44

[182 rows x 3 columns]