In [15]:
import pandas as pd

data = pd.read_csv('historicalDataTrain.csv')

In [16]:
data.columns

Index(['date', 'time', 'catch', 'effort', 'boat', 'species_', 'location_',
       'species_1', 'species_10', 'species_11', 'species_12', 'species_13',
       'species_2', 'species_3', 'species_4', 'species_5', 'species_6',
       'species_7', 'species_8', 'species_9', 'location_AB1', 'location_AB2',
       'location_AB3', 'location_C1', 'location_C2', 'location_C3',
       'location_E', 'location_H1', 'location_H2', 'location_H3',
       'location_H4', 'location_H5', 'location_H6', 'location_MBA', 'year',
       'month', 'day'],
      dtype='object')

In [3]:
data.iloc[-1]

date            2022-01-01
time                     4
catch                  271
effort                 271
boat                 boat5
species_          species2
location_               H2
species_1                0
species_10               0
species_11               0
species_12               0
species_13               0
species_2                1
species_3                0
species_4                0
species_5                0
species_6                0
species_7                0
species_8                0
species_9                0
location_AB1             0
location_AB2             0
location_AB3             0
location_C1              0
location_C2              0
location_C3              0
location_E               0
location_H1              0
location_H2              1
location_H3              0
location_H4              0
location_H5              0
location_H6              0
location_MBA             0
year                  2022
month                    1
day                      1
Name: 47353, dtype: object

In [1]:
from leslieDelury import popEstimate as pe

m = pe.LDEstimate([1, 2, 3, 4], [1, 2, 3, 4])

C:\Users\orect\miniconda3\envs\env\lib\site-packages\leslieDelury\popEstimate.py:20: RuntimeWarning: divide by zero encountered in double_scalars
  N0_hat = linModel.intercept / q_hat

In [2]:
m

(-inf, -0.0)

In [ ]:
species = ['species1', 'species10', 'species11', 'species12', 'species13',
       'species2', 'species3', 'species4', 'species5', 'species6',
       'species7', 'species8', 'species9']

In [ ]:
http://127.0.0.1:5000/predict?date=2022-01-01&time=4&species=species_13&boat=boat5&catch=271&effort=271&loc=H2

In [12]:
import pandas as pd
from leslieDelury import popEstimate
from datetime import datetime

corpus = pd.read_csv('historicalDataTrain.csv')

now = datetime.now()

year = now.year
month = now.month

if month == 1:
    year -= 1
    month = 12

year = 2021
month = 12

In [13]:
species = ['species1', 'species10', 'species11', 'species12', 'species13',
       'species2', 'species3', 'species4', 'species5', 'species6',
       'species7', 'species8', 'species9']

In [14]:
corpus = corpus[(corpus['year'] == year) & (corpus['month'] == month)]

output = pd.DataFrame(columns = ['species', 'estimate'])

for spec in species:
    temp = corpus[corpus['species_'] == spec]

    print(temp)

             date  time  catch  effort    boat  species_ location_  species_1  \
45181  2021-12-01     1    364     364   boat9  species1        H1          1
45193  2021-12-01     2    212     895   boat8  species1       AB3          1
45209  2021-12-01     2     53     393   boat4  species1       AB3          1
45216  2021-12-01     3    121     280  boat10  species1        C3          1
45282  2021-12-02     3    179     179   boat9  species1        H1          1
...           ...   ...    ...     ...     ...       ...       ...        ...
47203  2021-12-31     1    226     226   boat3  species1        H1          1
47228  2021-12-31     2     71     688   boat6  species1       AB3          1
47247  2021-12-31     3    229     229   boat9  species1        H1          1
47248  2021-12-31     3    128     128   boat6  species1        H1          1
47253  2021-12-31     3     61      61   boat2  species1        H1          1

       species_10  species_11  ...  location_H1  location_H2  location_H3  \
45181           0           0  ...            1            0            0
45193           0           0  ...            0            0            0
45209           0           0  ...            0            0            0
45216           0           0  ...            0            0            0
45282           0           0  ...            1            0            0
...           ...         ...  ...          ...          ...          ...
47203           0           0  ...            1            0            0
47228           0           0  ...            0            0            0
47247           0           0  ...            1            0            0
47248           0           0  ...            1            0            0
47253           0           0  ...            1            0            0

       location_H4  location_H5  location_H6  location_MBA  year  month  day
45181            0            0            0             0  2021     12    1
45193            0            0            0             0  2021     12    1
45209            0            0            0             0  2021     12    1
45216            0            0            0             0  2021     12    1
45282            0            0            0             0  2021     12    2
...            ...          ...          ...           ...   ...    ...  ...
47203            0            0            0             0  2021     12   31
47228            0            0            0             0  2021     12   31
47247            0            0            0             0  2021     12   31
47248            0            0            0             0  2021     12   31
47253            0            0            0             0  2021     12   31

[130 rows x 37 columns]
             date  time  catch  effort    boat   species_ location_  \
45202  2021-12-01     2     48     675   boat2  species10       AB1
45208  2021-12-01     2     56     451   boat1  species10       AB1
45313  2021-12-03     1     10     377   boat1  species10         E
45331  2021-12-03     2     84     448   boat7  species10       AB1
45367  2021-12-04     2     98     238   boat5  species10       AB1
...           ...   ...    ...     ...     ...        ...       ...
47146  2021-12-30     1     71     670  boat10  species10         E
47150  2021-12-30     2     29     309   boat7  species10       AB1
47162  2021-12-30     2     12     412   boat1  species10       AB1
47191  2021-12-30     4     72     426   boat1  species10         E
47222  2021-12-31     1     35     717   boat5  species10         E

       species_1  species_10  species_11  ...  location_H1  location_H2  \
45202          0           1           0  ...            0            0
45208          0           1           0  ...            0            0
45313          0           1           0  ...            0            0
45331          0           1           0  ...            0            0
45367          0           1           0  ...            0            0
...          ...         ...         ...  ...          ...          ...
47146          0           1           0  ...            0            0
47150          0           1           0  ...            0            0
47162          0           1           0  ...            0            0
47191          0           1           0  ...            0            0
47222          0           1           0  ...            0            0

       location_H3  location_H4  location_H5  location_H6  location_MBA  year  \
45202            0            0            0            0             0  2021
45208            0            0            0            0             0  2021
45313            0            0            0            0             0  2021
45331            0            0            0            0             0  2021
45367            0            0            0            0             0  2021
...            ...          ...          ...          ...           ...   ...
47146            0            0            0            0             0  2021
47150            0            0            0            0             0  2021
47162            0            0            0            0             0  2021
47191            0            0            0            0             0  2021
47222            0            0            0            0             0  2021

       month  day
45202     12    1
45208     12    1
45313     12    3
45331     12    3
45367     12    4
...      ...  ...
47146     12   30
47150     12   30
47162     12   30
47191     12   30
47222     12   31

[108 rows x 37 columns]
             date  time  catch  effort   boat   species_ location_  species_1  \
45180  2021-12-01     1     78     466  boat6  species11        H3          0
45184  2021-12-01     1     90     527  boat1  species11        H3          0
45187  2021-12-01     1     37     726  boat8  species11        H3          0
45189  2021-12-01     1      2      25  boat5  species11        H4          0
45246  2021-12-01     4     36     128  boat6  species11        H3          0
...           ...   ...    ...     ...    ...        ...       ...        ...
47219  2021-12-31     1     57     667  boat4  species11        H3          0
47238  2021-12-31     2      1      93  boat2  species11       MBA          0
47241  2021-12-31     2    175     395  boat1  species11       MBA          0
47260  2021-12-31     3     99     335  boat4  species11        C2          0
47266  2021-12-31     3    126     647  boat5  species11        C2          0

       species_10  species_11  ...  location_H1  location_H2  location_H3  \
45180           0           1  ...            0            0            1
45184           0           1  ...            0            0            1
45187           0           1  ...            0            0            1
45189           0           1  ...            0            0            0
45246           0           1  ...            0            0            1
...           ...         ...  ...          ...          ...          ...
47219           0           1  ...            0            0            1
47238           0           1  ...            0            0            0
47241           0           1  ...            0            0            0
47260           0           1  ...            0            0            0
47266           0           1  ...            0            0            0

       location_H4  location_H5  location_H6  location_MBA  year  month  day
45180            0            0            0             0  2021     12    1
45184            0            0            0             0  2021     12    1
45187            0            0            0             0  2021     12    1
45189            1            0            0             0  2021     12    1
45246            0            0            0             0  2021     12    1
...            ...          ...          ...           ...   ...    ...  ...
47219            0            0            0             0  2021     12   31
47238            0            0            0             1  2021     12   31
47241            0            0            0             1  2021     12   31
47260            0            0            0             0  2021     12   31
47266            0            0            0             0  2021     12   31

[169 rows x 37 columns]
             date  time  catch  effort   boat   species_ location_  species_1  \
45223  2021-12-01     3      3      44  boat6  species12        H6          0
45230  2021-12-01     3     22     132  boat7  species12        H6          0
45234  2021-12-01     3     11     205  boat4  species12        H5          0
45243  2021-12-01     4     21     304  boat4  species12        H6          0
45250  2021-12-02     1      1     126  boat7  species12        H5          0
...           ...   ...    ...     ...    ...        ...       ...        ...
47239  2021-12-31     2     30      93  boat2  species12       MBA          0
47242  2021-12-31     2     54     395  boat1  species12       MBA          0
47261  2021-12-31     3      8     335  boat4  species12        C2          0
47267  2021-12-31     3      3     647  boat5  species12        C2          0
47273  2021-12-31     4     32     138  boat2  species12        H5          0

       species_10  species_11  ...  location_H1  location_H2  location_H3  \
45223           0           0  ...            0            0            0
45230           0           0  ...            0            0            0
45234           0           0  ...            0            0            0
45243           0           0  ...            0            0            0
45250           0           0  ...            0            0            0
...           ...         ...  ...          ...          ...          ...
47239           0           0  ...            0            0            0
47242           0           0  ...            0            0            0
47261           0           0  ...            0            0            0
47267           0           0  ...            0            0            0
47273           0           0  ...            0            0            0

       location_H4  location_H5  location_H6  location_MBA  year  month  day
45223            0            0            1             0  2021     12    1
45230            0            0            1             0  2021     12    1
45234            0            1            0             0  2021     12    1
45243            0            0            1             0  2021     12    1
45250            0            1            0             0  2021     12    2
...            ...          ...          ...           ...   ...    ...  ...
47239            0            0            0             1  2021     12   31
47242            0            0            0             1  2021     12   31
47261            0            0            0             0  2021     12   31
47267            0            0            0             0  2021     12   31
47273            0            1            0             0  2021     12   31

[200 rows x 37 columns]
             date  time  catch  effort    boat   species_ location_  \
45314  2021-12-03     1    208     377   boat1  species13         E
45364  2021-12-04     2    251     403   boat1  species13       MBA
45377  2021-12-04     3     27     377   boat7  species13        C2
45385  2021-12-04     3    228     521   boat3  species13        C2
45406  2021-12-04     3    161     516  boat10  species13        C2
...           ...   ...    ...     ...     ...        ...       ...
47223  2021-12-31     1    372     717   boat5  species13         E
47240  2021-12-31     2     62      93   boat2  species13       MBA
47243  2021-12-31     2    166     395   boat1  species13       MBA
47262  2021-12-31     3     91     335   boat4  species13        C2
47268  2021-12-31     3    281     647   boat5  species13        C2

       species_1  species_10  species_11  ...  location_H1  location_H2  \
45314          0           0           0  ...            0            0
45364          0           0           0  ...            0            0
45377          0           0           0  ...            0            0
45385          0           0           0  ...            0            0
45406          0           0           0  ...            0            0
...          ...         ...         ...  ...          ...          ...
47223          0           0           0  ...            0            0
47240          0           0           0  ...            0            0
47243          0           0           0  ...            0            0
47262          0           0           0  ...            0            0
47268          0           0           0  ...            0            0

       location_H3  location_H4  location_H5  location_H6  location_MBA  year  \
45314            0            0            0            0             0  2021
45364            0            0            0            0             1  2021
45377            0            0            0            0             0  2021
45385            0            0            0            0             0  2021
45406            0            0            0            0             0  2021
...            ...          ...          ...          ...           ...   ...
47223            0            0            0            0             0  2021
47240            0            0            0            0             1  2021
47243            0            0            0            0             1  2021
47262            0            0            0            0             0  2021
47268            0            0            0            0             0  2021

       month  day
45314     12    3
45364     12    4
45377     12    4
45385     12    4
45406     12    4
...      ...  ...
47223     12   31
47240     12   31
47243     12   31
47262     12   31
47268     12   31

[112 rows x 37 columns]
             date  time  catch  effort    boat  species_ location_  species_1  \
45177  2021-12-01     1    527     527   boat7  species2        H2          0
45194  2021-12-01     2    513     895   boat8  species2       AB3          0
45210  2021-12-01     2    231     393   boat4  species2       AB3          0
45217  2021-12-01     3    106     280  boat10  species2        C3          0
45226  2021-12-01     3    373     373   boat5  species2        H2          0
...           ...   ...    ...     ...     ...       ...       ...        ...
47094  2021-12-29     3    339     529   boat8  species2        C3          0
47128  2021-12-30     1    536     536   boat1  species2        H2          0
47170  2021-12-30     2    705    1037   boat4  species2       AB3          0
47229  2021-12-31     2    530     688   boat6  species2       AB3          0
47254  2021-12-31     3    263     263   boat7  species2        H2          0

       species_10  species_11  ...  location_H1  location_H2  location_H3  \
45177           0           0  ...            0            1            0
45194           0           0  ...            0            0            0
45210           0           0  ...            0            0            0
45217           0           0  ...            0            0            0
45226           0           0  ...            0            1            0
...           ...         ...  ...          ...          ...          ...
47094           0           0  ...            0            0            0
47128           0           0  ...            0            1            0
47170           0           0  ...            0            0            0
47229           0           0  ...            0            0            0
47254           0           0  ...            0            1            0

       location_H4  location_H5  location_H6  location_MBA  year  month  day
45177            0            0            0             0  2021     12    1
45194            0            0            0             0  2021     12    1
45210            0            0            0             0  2021     12    1
45217            0            0            0             0  2021     12    1
45226            0            0            0             0  2021     12    1
...            ...          ...          ...           ...   ...    ...  ...
47094            0            0            0             0  2021     12   29
47128            0            0            0             0  2021     12   30
47170            0            0            0             0  2021     12   30
47229            0            0            0             0  2021     12   31
47254            0            0            0             0  2021     12   31

[143 rows x 37 columns]
             date  time  catch  effort    boat  species_ location_  species_1  \
45195  2021-12-01     2    112     895   boat8  species3       AB3          0
45211  2021-12-01     2     32     393   boat4  species3       AB3          0
45218  2021-12-01     3      0     280  boat10  species3        C3          0
45220  2021-12-01     3     28      44   boat6  species3        H6          0
45227  2021-12-01     3     70     132   boat7  species3        H6          0
...           ...   ...    ...     ...     ...       ...       ...        ...
47204  2021-12-31     1     11      92  boat10  species3        H5          0
47211  2021-12-31     1    132     221   boat7  species3        H5          0
47224  2021-12-31     1    138     218   boat2  species3        H5          0
47230  2021-12-31     2      0     688   boat6  species3       AB3          0
47269  2021-12-31     4     21     138   boat2  species3        H5          0

       species_10  species_11  ...  location_H1  location_H2  location_H3  \
45195           0           0  ...            0            0            0
45211           0           0  ...            0            0            0
45218           0           0  ...            0            0            0
45220           0           0  ...            0            0            0
45227           0           0  ...            0            0            0
...           ...         ...  ...          ...          ...          ...
47204           0           0  ...            0            0            0
47211           0           0  ...            0            0            0
47224           0           0  ...            0            0            0
47230           0           0  ...            0            0            0
47269           0           0  ...            0            0            0

       location_H4  location_H5  location_H6  location_MBA  year  month  day
45195            0            0            0             0  2021     12    1
45211            0            0            0             0  2021     12    1
45218            0            0            0             0  2021     12    1
45220            0            0            1             0  2021     12    1
45227            0            0            1             0  2021     12    1
...            ...          ...          ...           ...   ...    ...  ...
47204            0            1            0             0  2021     12   31
47211            0            1            0             0  2021     12   31
47224            0            1            0             0  2021     12   31
47230            0            0            0             0  2021     12   31
47269            0            1            0             0  2021     12   31

[201 rows x 37 columns]
             date  time  catch  effort    boat  species_ location_  species_1  \
45196  2021-12-01     2     58     895   boat8  species4       AB3          0
45212  2021-12-01     2     77     393   boat4  species4       AB3          0
45219  2021-12-01     3     53     280  boat10  species4        C3          0

In [9]:

    if len(temp) == 0:
        estimate = 'N/A'
        print('na')
    
    else:
        estimate, val = popEstimate.LDEstimate(temp['catch'].values, temp['effort'].values)
        print(temp['catch'], temp['effort'])

    #output.loc[len(output)] = [spec, estimate]

na

In [2]:
corpus[corpus['species_'] == 'species3']

,date,time,catch,effort,boat,species_,location_,species_1,species_10,species_11,...,location_H1,location_H2,location_H3,location_H4,location_H5,location_H6,location_MBA,year,month,day
0,2020-01-01,1,46,113,boat1,species3,H5,0,0,0,...,0,0,0,0,1,0,0,2020,1,1
8,2020-01-01,1,91,141,boat5,species3,H5,0,0,0,...,0,0,0,0,1,0,0,2020,1,1
19,2020-01-01,1,14,106,boat3,species3,H6,0,0,0,...,0,0,0,0,0,1,0,2020,1,1
38,2020-01-01,2,268,714,boat4,species3,AB3,0,0,0,...,0,0,0,0,0,0,0,2020,1,1
45,2020-01-01,3,115,163,boat10,species3,H6,0,0,0,...,0,0,0,0,0,1,0,2020,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47285,2022-01-01,1,79,198,boat4,species3,H6,0,0,0,...,0,0,0,0,0,1,0,2022,1,1
47291,2022-01-01,1,98,225,boat6,species3,H5,0,0,0,...,0,0,0,0,1,0,0,2022,1,1
47324,2022-01-01,2,8,432,boat5,species3,AB3,0,0,0,...,0,0,0,0,0,0,0,2022,1,1
47327,2022-01-01,3,49,94,boat10,species3,H5,0,0,0,...,0,0,0,0,1,0,0,2022,1,1
47347,2022-01-01,4,120,238,boat10,species3,H5,0,0,0,...,0,0,0,0,1,0,0,2022,1,1

In [11]:
corpus[(corpus['year'] == '2022') & (corpus['month'] == '2')]

Empty DataFrame
Columns: [date, time, catch, effort, boat, species_, location_, species_1, species_10, species_11, species_12, species_13, species_2, species_3, species_4, species_5, species_6, species_7, species_8, species_9, location_AB1, location_AB2, location_AB3, location_C1, location_C2, location_C3, location_E, location_H1, location_H2, location_H3, location_H4, location_H5, location_H6, location_MBA, year, month, day]
Index: []

[0 rows x 37 columns]